// Navigation Styles Only
.navigation {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;

  .logo-container {
    max-width: 140px;

    img {
      width: 100%;
    }
  }

  .links-container {
    display: flex;
    align-items: center;

    a {
      margin-left: 5px;
      padding: 6px 10px;
      color: black;
      position: relative;
      line-height: 1.1;

      &.router-link-exact-active {
        color: $gray-dark;
      }

      &:hover {
        &:after {
          height: calc(50% - 5px);
          transition: height .2s ease-in-out;
        }
      }

      &:after {
        content: '';
        position: absolute;
        background-color: $blue;
        bottom: 3px;
        left: 0%;
        width: 100%;
        height: 0;
        opacity: .7;
        transition: height .2s ease-in-out;
      }
    }
  }
}