.home-container {
    margin-top: 50px;

    .hero-links-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 100px;
        max-width: 900px;
        margin: 0 auto;
        padding: 50px 0 100px;

        @media screen and (max-width: $bp-m) {
            grid-gap: 40px;
        }

        @media screen and (max-width: $bp-s) {
            display: block;
            padding-bottom: 50px;
        }
    }

    .hero-link {
        min-height: 240px;
        background-color: $gray-light;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 700;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media screen and (max-width: $bp-s) {
            display: block;
            min-height: auto;
            margin-bottom: 20px;
        }

        .image {
            width: 60px;
            height: 60px;
            border: 5px solid $gray-dark;
            border-radius: 10px;
            margin: 0 auto;
            display: none;
        }
    }

    .featured-info {
        padding: 100px 0;
        border-top: 1px solid $gray;

        @media screen and (max-width: $bp-s) {
            padding: 50px 0;
        }

        p {
            max-width: 700px;
            margin: 0 auto;
        }
    }
}