html, body {
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: $text-color;
  background: $off-white;

  &.disable-scrolling {
    overflow: hidden;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  @media screen and (max-width: $bp-s) {
    width: 100%;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  margin-top: 0;
  margin-bottom: 1rem;
  color: $text-color;
  font-weight: 100;
}

h1 {
  font-size: $header-large;

  @media screen and (max-width: $bp-s) {
    font-size: 3em;
    line-height: 1;
  }

}

h2, h3, h4 { font-size: $header-base; }

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: $base-size;
  line-height: 1.75;
  margin-top: 0;
  margin-bottom: 1rem;

  &.subtitle {
    font-size: $base-large;
    line-height: 1.5;
  }

  a {
    text-decoration: underline;
    color: $text-color;
    transition: color .25s;

    &:hover {
      color: $secondary-color;
      transition: color .25s;
    }
  }
}

button, .button, select {
  @include neumorphism();
  font-size: $base-small;
  color: $text-color;
  display: inline-block;
  padding: 15px 50px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  transition: .3s;

  &:hover, &.active {
    color: $accent-color;
    transition: .3s;
  }

  &.button-small {
    padding: 10px 20px;
  }
}

select {
  appearance: none;
  background: url('./assets/img/select-arrow.svg') no-repeat;
  background-position: calc(100% - 1.5em) 50%;
  background-size: 8px;
  padding-right: 2.5em;
}

input {
  @include inverse-neumorphism();
  font-weight: 600;
  font-size: $base-small;
  color: $text-color;
  box-sizing: border-box;
  padding: 15px 50px;
  border: none;
  border-radius: 40px;
  appearance: none;
}

.basic-page-container {
  margin: 0 auto 50px;
  padding: 0 30px;
  max-width: $page-width;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;

  @media screen and (max-width: $bp-s) {
    padding: 0 20px;
  }
}

.link {
  color: $primary-color;

  &:hover {
    color: $gray-dark;
  }

  &.link-back {
    &:before {
      content: '<';
      position: relative;
      display: inline-block;
      padding: 0 10px 5px;
      font-size: .8em;
    }
  }
}

.card {
  @include neumorphism();
  padding: 24px;
  box-sizing: border-box;
  border-radius: 24px;
}

.gradient-bar {
  height: 3px;
  background: $gradient;
  border-radius: 10px;
}

.visuallyhidden {
  display: none;
}

.header-grid {
  @include grid-2-column();
  align-items: center;

  .mask-header-image {
    position: relative;

    @media(min-width: $bp-s + 1) {
      .vue-image {
        width: 200%;
        max-width: 200%;
        margin-left: -100%;
      }
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-33%, -50%);
      text-align: left;
      white-space: nowrap;
      color: $white;
    }
  }

  .gradient-bar {
    width: 175px;
    margin: 0 auto;
  }
}

.hide-s {
  @media(max-width: $bp-s) {
    display: none;
  }
}

.show-s {
  @media(min-width: $bp-s + 1) {
    display: none;
  }
}
