html, body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;

  &.disable-scrolling {
    overflow: hidden;
  }
}

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  text-align: center;

  @media screen and (max-width: $bp-s) {
    width: 100%;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5em;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button, .button {
  display: inline-block;
  padding: 10px 14px;
  border: 1px solid $text-color;
  color: $text-color;
  background: transparent;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1em;

  &:hover, &.active {
    background-color: $text-color;
    color: $white !important;
  }
}

select {
  appearance: none;
  padding: 10px 14px;
  border: 1px solid $text-color;
  color: $text-color;
  border-radius: 0;
  background: url('./assets/img/select-arrow.svg') no-repeat;
  background-position: calc(100% - 1em) 50%;
  background-size: 8px;
  padding-right: 2.5em;
  font-size: 1em;
}

input {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid $text-color;
  border-radius: 0;
  font-size: 1em;
}

.basic-page-container {
  margin: 0 auto 50px;
  padding: 0 30px;
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: $bp-s) {
    padding: 0 20px;
  }
}

.link {
  color: $primary-color;

  &:hover {
    color: $gray-dark;
  }

  &.link-back {
    &:before {
      content: '<';
      position: relative;
      display: inline-block;
      padding: 0 10px 5px;
      font-size: .8em;
    }
  }
}

.visuallyhidden {
  display: none;
}
