html, body {
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: $text-color;
  background: $off-white;

  &.disable-scrolling {
    overflow: hidden;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow: hidden;

  @media screen and (max-width: $bp-s) {
    width: 100%;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-bold;
  margin-top: 0;
  margin-bottom: 1rem;
  color: $text-color;
}

// Typography Helper Classes
.typography-hero {
  font-size: 76px;
  line-height: .9;

  @media screen and (max-width: $bp-l) {
    font-size: 60px;
  }

  @media screen and (max-width: $bp-m) {
    font-size: 50px;
  }

  @media screen and (max-width: $bp-s) {
    font-size: 48px;
  }
}

.typography-hero-cta {
  font-size: 37px;
  line-height: 1;
  margin-bottom: 20px;
  transition: .3s color;

  &:hover {
    color: $accent-color;
    transition: .3s color;
  }

  @media screen and (max-width: $bp-s) {
    margin-bottom: 0;
  }
}

.typography-headline {
  font-size: 30px;

  @media screen and (max-width: $bp-s) {
    font-size: 22px;
  }
}

.typography-featured {
  font-size: 22px;

  @media screen and (max-width: $bp-s) {
    font-size: 18px;
  }
}

.typography-base {
  font-size: 20px;
}

.typography-action {
  font-size: 15px;
}

.typography-action-small {
  font-size: 13px;
}


h1 {
  @media screen and (max-width: $bp-s) {
    line-height: 1;
  }

}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }
}

p {
  @extend .typography-base;
  line-height: 1.35;
  margin-top: 0;
  margin-bottom: 1rem;

  a {
    color: $text-color;
    transition: color .25s;

    &:hover, &.hover {
      color: $secondary-color;
      transition: color .25s;
    }
  }
}

button, .button, select {
  @include neumorphism();
  font-size: $base-small;
  color: $text-color;
  display: inline-block;
  padding: 20px 40px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  font-weight: 700;

  &:hover, &.active {
    color: $accent-color;
  }

  &.button-small {
    padding: 10px 20px;
  }

  &.accent-button {
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: $sans-serif-bold;
  }
}

select {
  appearance: none;
  background: url('./assets/img/icon-arrow-down.svg') no-repeat;
  background-position: calc(100% - 1.5em) 50%;
  background-size: 15px;
  padding-right: 2.5em;
}

input:not([type="range"]) {
  @include inverse-neumorphism();
  font-weight: 600;
  font-family: $sans-serif;
  font-size: $base-small;
  color: $text-color;
  box-sizing: border-box;
  padding: 20px 40px;
  border: none;
  border-radius: 40px;
  letter-spacing: .5px;
  appearance: none;

  &.input-search {
    background: url('./assets/img/icon-search.svg') no-repeat;
    background-position: calc(100% - 1.5em) 50%;
    background-size: 15px;
    padding-right: 2.5em;
    z-index: 1;
    position: relative;
  }
}

// dope ass range slider
// don't care about IE (Sorry!)
input[type="range"] {
  height: 26px;
  margin: 10px 0;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  background: transparent;

  // remove outline on chrome
  &:focus {
    outline: none;
  }

  // remove outline on firefox
  &::-moz-focus-outer {
    border: 0;
  }

  // for whatever reason, SCSS doesn't work with combined pseudo-selectors
  // so lets use mixins!
  @mixin track() {
    @include inverse-neumorphism();
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    padding: 3px;
    box-sizing: content-box;
    border-radius: 14px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
  }

  @mixin thumb() {
    height: 14px;
    width: 20%;
    border-radius: 14px;
    border: none;
    background: $accent-color;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
  }

  &::-moz-range-track {
    @include track();
  }

  &::-webkit-slider-thumb {
    @include thumb();
  }

  &::-moz-range-thumb {
    @include thumb();
  }
}

.basic-page-container {
  margin: 0 auto 50px;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: $bp-s) {
    padding: 0 20px;
  }
}

.content-container {
  padding: 0 30px;
  max-width: $page-width;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.link {
  color: $primary-color;

  &:hover {
    color: $gray-dark;
  }

  &.link-back {
    &:before {
      content: '<';
      position: relative;
      display: inline-block;
      padding: 0 10px 5px;
      font-size: .8em;
    }
  }
}

.card {
  overflow: hidden;
  box-sizing: border-box;
  padding: 24px 0 0;
  border-radius: 24px;

  .copy-container {
    padding: 0 40px 10px;

    @media screen and (max-width: $bp-s) {
      padding: 0 25px 10px;
    }
  }

  &.no-hover {
    @include neumorphism(false);
  }

  &:not(.no-hover) {
    @include neumorphism();
  }
}

.gradient-bar {
  width: 80%;
  height: 4px;
  max-width: 230px;
  background: $gradient;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card, .step {
  .gradient-bar {
    margin: 0 0 10px;
  }
}

.image-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: $white;
}

.visuallyhidden {
  display: none;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;

  @media screen and (max-width: $bp-s) {
    display: block;
    margin-bottom: 60px;
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1, h2, h3 {
      color: $white;
      padding: 40px;

      @media screen and (max-width: $bp-s) {
        padding: 110px 20px;
      }
    }
  }

  &-copy {
    max-width: 400px;
    margin: auto;
    padding: 100px 40px;

    @media screen and (max-width: $bp-s) {
      padding: 70px 20px;
    }

    p {
      padding: 0 10px;
    }
  }
}

.hide-s {
  @media(max-width: $bp-s) {
    display: none;
  }
}

.show-s {
  @media(min-width: $bp-s + 1) {
    display: none;
  }
}
