/*
* Font Family Declarations
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

$font_path: '~@/assets/fonts/';

@font-face {
  font-family: FuturaBold;
  src: url('~@/assets/fonts/Futura-Bold.ttf');
}

@font-face {
  font-family: FuturaMedium;
  src: url('~@/assets/fonts/Futura-Medium.ttf');
}
