/* Color Scheme */
$teal: #5BC4A6;
$teal-darker: #4AB1B0;
$navy: #575F6B;
$red: #e22d48;

// Grayscale
$white: #ffffff;
$off-white: #f8fafa;
$black: #000000;
$gray-light: #f1f1f1;
$gray: #ccc;
$gray-dark: #888;

/* THEME SPECIFIC */
$primary-color: $navy;
$secondary-color: $teal;
$text-color: $navy;
$accent-color: $teal;
$gradient: linear-gradient(to right, #C3D8A1 0%, #48AFAE 100%);

/* Breakpoints */
// breakpoints should be used with max-width's (non-mobile first)
$bp-xs: 480px;
$bp-s: 767px;
$bp-m: 1024px;
$bp-l: 1200px;
$bp-xl: 1400px;

/* Spacing */
$page-width: $bp-xl;
$grid-container-width: 1000px;

$space-s: 1em;
$space-m: 2em;
$space-l: 3em;
$space-xl: 4em;

/* Fonts */
$sans-serif: 'Open Sans', sans-serif;
$sans-serif-bold: 'FuturaBold', serif;
$serif-serif-medium: 'FuturaMedium', serif;

$base-size: 1em;
$base-small: .8em;
$base-large: 1.3em;


:export {
  accent: $accent-color;
}
