/* Color Scheme */
$blue: dodgerblue;
$navy: #2c3e50;

$white: #ffffff;
$black: #000000;
$gray-light: #f1f1f1;
$gray: #ccc;
$gray-dark: #888;

/* Breakpoints */
// breakpoints should be used with max-width's (non-mobile first)
$bp-xs: 480px;
$bp-s: 767px;
$bp-m: 1024px;
$bp-l: 1200px;
$bp-xl: 1400px;

/* Sizing */

/* Animations */

/* Fonts */
